/* h1 {
    font-size: 5rem;
    color: red;
} */

#first-heading{
    color: green;
}
#second-heading{
    color: red;
}
#third-heading{
    color:rebeccapurple;
}

.second-heading{
    color:pink;
}
:root{
    --text-color: red;
    /* --name-var:bla */
}
#heading-id{
    color: var(--text-color);
    /* var(--name-var) */
}
.box{
    background-color: red;
    width: 100%;
    height: 200px;
}

*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-size:250px ;
    /* background-repeat: no-repeat; */
    background-image: url(https://congthuong-cdn.mastercms.vn/stores/news_dataimages/2022/102022/29/12/in_article/7423d05f-e2f4-4c26-9f6c-1d625c2953d320221029125851.jpg?rt=20221029125854);
}