/* h1 {
    font-size: 5rem;
    color: red;
} */

#first-heading{
    color: green;
}
#second-heading{
    color: red;
}
#third-heading{
    color:rebeccapurple;
}

.second-heading{
    color:pink;
}
:root{
    --text-color: red;
    /* --name-var:bla */
}
#heading-id{
    color: var(--text-color);
    /* var(--name-var) */
}